* {
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(60, 57, 77);
}

body {
    background: url(images/library.jpg);
    opacity: .9;
}

h1 {
    padding: 20px 0;
    text-align: center;
    color:seashell;
    font-size: 42px;
}

form {
    margin: auto;
    justify-content: center;
    padding: 10px;
    border: 2px solid steelblue;
    background-color:rgb(235, 227, 215);
    width: 70%;
}

fieldset {
    margin: 20px 0;
}

fieldset p label{
    cursor: pointer;
}

fieldset p, h5 {
    display: inline;
    padding-left: 20px;
}

.box-width {
    margin-left: 5px;
    width: 200px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    position: absolute;
    left: 38px;
    top: 15px;
    color: snow;
    width: max-content;
    border: 1px solid teal;
    background-color: teal;
    padding: 3px 5px;
    border-radius: 8px;
    visibility: hidden;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

fieldset h5 {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {color: red;}
    50% {color: orange;}
    100% {color: red;}
}

#platinum {
    display: block;
    text-align: center;
    color: darkcyan;
}

#platinum a {
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    animation: color-anchor 5s infinite;
}

@keyframes color-anchor {
    0% {color: red;}
    50% {color: blue}
    100% {color:darkviolet}
}
